.c-submit-btn {
  background-color: $accent-color;
  font-weight: bold;
  font-family: $english-font-family;
  width: rem(245);
  max-width: 100%;
  padding: rem(20);
  border-radius: rem(80);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border: rem(1) solid transparent;
  box-shadow: 0 0 rem(6) #1B1310;

  &:hover,
  &:active {
    background-color: $text-color;
    color: $accent-color;
    transition: 0.3s;
    border: rem(1) $accent-color solid;
  }
}
