.p-hamburger {
  position: relative;
  width: rem(30);
  height: rem(20);
  background-color: transparent;

  &__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: rem(30);
    height: rem(3);
    background-color: #fff;
    transition: background-color .3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: inherit;
      transition: transform .3s;
    }

    &::before {
      top: rem(-10);
    }

    &::after {
      top: rem(10);
    }
  }
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line {
  background-color: transparent;
  transition: background-color .3s;

}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  top: 0;
  background-color: #fff;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
  transform: rotate(45deg);
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  transform: rotate(-45deg);
}

.p-hamburger-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: rem(15);
}
