.p-page-heading {
  background: url(../images/contact/contact-page-bg.jpg) no-repeat center center / cover;
  height: rem(360);

  @include mq(md) {
    height: rem(453);
  }

  &__inner {
    height: inherit;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }

  &__title {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: rem(30);
    letter-spacing: calc(100em / 1000);
    font-family: $english-font-family;
    @include mq(md) {
      font-size: rem(60);
    }
  }

  &__shadow {
    position: absolute;
    top: 70%;
    left: rem(11);
    font-size: rem(40);
    letter-spacing: calc(50em / 1000);
    font-weight: bold;
    font-family: $english-font-family;
    color: #ffffff;
    opacity: 0.1;
    @include mq(md) {
      font-size: rem(90);
    }
  }
}
